#explain-wrap {
    flex-direction: column;
    margin-top: 150px;
    display: flex;
    width: 100%;
}

.explain-wrap {
    background: rgb(89, 150, 177);
    width: 100%;
}

.explain-inner {
    width: calc(100% - 60px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 100px 30px;
}

.explain-inner h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
    margin: 10px;
    width: 100%;
}

.explain-inner p {
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin-top: 0;
    margin-bottom: 70px;
}



@media (hover: hover) and (pointer: fine) {
    /* Set Display Width 700px Bigger Than 1440px */
    /* 1440 x 3088 (Galaxy S22U)        */
    /* 1290 x 2796 (iPhone 15 Pro Max ) */
    /* 1179 x 2556 (iPhone 15 )         */

    #explain-wrap {
        margin-top: 70px;
    }

    .explain-inner {
        margin: 50px 30px;
    }

    .explain-inner p {
        font-size: 20px;
    }
}