/* ==================== ==================== menu ==================== ==================== */

#menu-wrap {
	background-color: rgba(0, 0, 0, .3);
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 20;
}

@keyframes active {
	0% { height: 0px; }
	100% { height: 100%; }
}

@keyframes remove {
	0% { height: 100%; }
	100% { height: 0px; }
}

/* ==================== ==================== wrap ==================== ==================== */

.menu-wrap {
	height: calc( 100% - 150px );
	background-color: white;
	margin-top: 150px;
	margin-left: auto;
	overflow: scroll;
	width: 75%;
}

.menu-wrap::-webkit-scrollbar {
    display: none;
}

/* ==================== ==================== list ==================== ==================== */

.list {
	width: calc( 100% - 60px );
	margin: 20px 0 20px 20px;
	padding: 30px 20px;
	font-size: 40px;
	font-weight: bold;
	color: gray;
}

.now {
	background-color: rgba(128, 128, 128, 0.3);
	color: #459c77;
}



@media (min-width: 1000px) {
    /* Set Display Width 700px Bigger Than 1440px */
    /* 1440 x 3088 (Galaxy S22U)        */
    /* 1290 x 2796 (iPhone 15 Pro Max ) */
    /* 1179 x 2556 (iPhone 15 )         */

	#menu-wrap {
		width: 700px;
	}

	.menu-wrap {
		height: calc(100% - 70px);
		margin-top: 70px;
		width: 60%;
	}

	.list {
		font-size: 20px;
		cursor: pointer;
	}
}