/* ==================== ==================== Desc ==================== ==================== */

.desc-wrap {
    background-color: #33a474;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    display: flex;
    width: 100%;
}

.desc-wrap h1 {
    font-size: 60px;
    color: white;
    margin: 0;
} 

.desc-wrap > p {
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 30px;
    color: white;
    margin: 0;
}

/* ==================== ==================== How ==================== ==================== */

.how-wrap {
    width: 90%;
}

.how {
    background-color: hsla(0, 0%, 100%, .8);
    width: calc(100% - 40px);
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px 20px;
    display: flex;
}

.how img {
    margin-right: 10px;
    width: 10%;
}

.how > p { font-size: 25px; }

/* ==================== ==================== Question ==================== ==================== */

.question-wrap {
	margin: 30px 30px;
	width: calc(100% - 60px);
    flex-direction: column;
	display: flex;
}

.question {
    background-color: hsla(0, 0%, 100%, .8);
    box-shadow: 2px 3px 5px 0px;
    border: 1px solid #dddfe2;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 150px;
    align-items: center;
    display: flex;
	width: 100%;
}

.example { 
    margin-bottom: 0px !important;
    box-shadow: none !important;
}

.example img {
    cursor: auto !important;
}

.q-row {
    margin: 30px 0;
    display: flex;
    width: 100%;
}

.q-mid {
    width: 60% !important; 
}

.opcty {
    opacity: 0.2;
}

.q-cell {
    -webkit-tap-highlight-color : transparent !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    width: 20%;
}

.q-cell img {
    cursor: pointer;
    height: 80px;
    width: 80px;
}

/* ==================== ==================== Answer ==================== ==================== */

.answer-wrap {
    justify-content: center;
    align-items: center;
    margin-top: -270px;
    display: flex;
    height: 400px;
    width: 100%;
}

.answer {
    -webkit-tap-highlight-color: transparent !important;
    background-color: #33a474;
    width: calc( 100% - 200px );
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: flex;
    height: 100px;
}

.answer:active {
    background-color: #1c6949;
}


/* ==================== ==================== Bottom ==================== ==================== */

.bottom-wrap {
    background-color: #576071;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    height: 100px;
    z-index: 10;
    width: 100%;
    bottom: 0;
    left: 0;
}

#percentage {
    position: fixed;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: flex;
    z-index: 20;
}

.progress {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 15;
}

#filler {
    transition: all .2s ease-in-out;
    background-color: #33a474;
    height: 100%;
    width: 0px;
}


@keyframes impossible {
    0%   {margin-left: -20px;}
    20%  {margin-left: 20px; }
    40%  {margin-left: -10px;}
    60%  {margin-left: 10px; }
    80%  {margin-left: -5px; }
    100% {margin-left: 0px;  }
}



/* ==================== ==================== Media ==================== ==================== */

@media (hover: hover) and (pointer: fine) {
    /* Set Display Width 700px Bigger Than 1440px */
    /* 1440 x 3088 (Galaxy S22U)        */
    /* 1290 x 2796 (iPhone 15 Pro Max ) */
    /* 1179 x 2556 (iPhone 15 )         */

    .bottom-wrap {
        margin-left: calc((100% - 700px)/2);
        width: 700px;
        height: 50px;
    }

    .how-wrap p {
        font-size: 20px;
    }

    .q-cell {
        font-size: 20px;
    }

}