/* ==================== ==================== Wrap ==================== ==================== */
#result-wrap {
    flex-direction: column;
    margin-top: 150px;
    display: flex;
    width: 100%;
}



/* ==================== ==================== Head ==================== ==================== */
.result-head {
    width: calc(100% - 40px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 20px 20px 40px 20px;
}

.result-head p {
    font-weight: lighter;
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.result-head h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}



/* ==================== ==================== Main ==================== ==================== */
#type-ratio-main {
    justify-content: center;
    align-items: center;
    margin-top: -6px;
    display: flex;
    height: 800px;
    width: 100%;
}



/* ==================== ==================== Body ==================== ==================== */
.type-ratio-body {
    border-radius: 20px;
    border: 1px solid #E2E2E2;
    background: white;
    height: 95%;
    width: 90%;
}

.type-ratio-body hr {
    margin-bottom: 0;
    margin-top: 0;
}



/* ==================== ==================== Content ==================== ==================== */
.type-ratio {
    height: calc((100% - 6px)/4);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
}

.type-ratio p { 
    margin: 10px 0 0 0; 
    font-weight: bold; 
    font-size: 35px; 
}

.ratio {
    justify-content: space-between;
    height: calc(100% - 70px);
    align-items: center;
    display: flex;
    width: 100%;
}

.ratio span {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
    font-size: 30px;
    display: flex;
    width: 10%;
}

.ratio span:nth-child(1) { font-size: 50px; width: 7%;}
.ratio span:nth-child(3) { justify-content: left;}

.ratio-bar {
    border: 2px solid #E2E2E2;
    width: calc(83% - 20px);
    border-radius: 50px;
    overflow: hidden;
    margin: 0 10px;
    height: 50%;
}

.filler {
    height: 100%;
    width: 0%;
}



/* ==================== ==================== Media ==================== ==================== */
.result-desc-wrap {
    overflow-wrap: break-word;
    flex-direction: column;
    word-break: break-all;
    white-space: normal;
    line-height: 370%;
    color: #51596a;
    display: flex;
    margin: 5%;
}

.result-desc-wrap > p:nth-child(1) {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 45px;
}

#summary {
    width: calc(100% - 30px);
    border-left: 10px solid;
    padding-left: 20px;
    margin: 30px 0;
}

#summary p {
    font-size: 150%;
    display: none;
    margin: 0;
}



/* ==================== ==================== Media ==================== ==================== */
.type-desc-inner { margin-bottom: 30px; }
.type-desc-inner p {
    margin: 30px 0; 
    font-size: 150%;
}





/* ==================== ==================== Media ==================== ==================== */

@media (min-width: 1000px) {
    /* Set Display Width 700px Bigger Than 1440px */
    /* 1440 x 3088 (Galaxy S22U)        */
    /* 1290 x 2796 (iPhone 15 Pro Max ) */
    /* 1179 x 2556 (iPhone 15 )         */

    #result-wrap {
        margin-top: 70px;
        width: 700px;
    }

}