/* ==================== ==================== Result ==================== ==================== */
#result-wrap {
    flex-direction: column;
    margin-top: 150px;
    display: flex;
    width: 100%;
}


.result-head {
    width: calc(100% - 40px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 20px;
}

.result-head p {
    font-weight: lighter;
    font-size: 20px;
    margin: 20px 0;
}

.result-head h1 {
    margin: 0;
}





#type-ratio-main {
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    display: flex;
    height: 500px;
    width: 100%;
}

.type-ratio-body {
    border-radius: 20px;
    border: 1px solid #E2E2E2;
    background: white;
    height: 95%;
    width: 90%;
}

.type-ratio-body hr {
    margin-bottom: 0;
    margin-top: 0;
}

.type-ratio {
    justify-content: space-between;
    height: calc((100% - 6px)/4);
    align-items: center;
    display: flex;
    width: 100%;
}

.type-ratio .char {
    justify-content: center;
    font-weight: bold;
    display: flex;
}





.ratio-bar {
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    overflow: hidden;
    /* margin: 0 10px; */
    height: 30px;
    width: 100%;
}

.filler {
    height: 100%;
    width: 30%;
}






/* ==================== ==================== Media ==================== ==================== */

@media (min-width: 1000px) {
    /* Set Display Width 700px Bigger Than 1440px */
    /* 1440 x 3088 (Galaxy S22U)        */
    /* 1290 x 2796 (iPhone 15 Pro Max ) */
    /* 1179 x 2556 (iPhone 15 )         */

    #result-wrap {
        margin-top: 70px;
        width: 700px;
    }

}