/* ==================== ==================== BASE ==================== ==================== */

body {
    background: #E2E2E2;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.main-wrap {
    width: 1000px;
}

.main-side {
    width: calc((100% - 1000px)/2);
    display: none;
}

#root {
    background: white;
    position: relative;
    overflow: scroll;
    display: flex;
    height: 100%;
    width: 100%;
}

#root::-webkit-scrollbar {
    display: none;
}

/* ==================== ==================== HEADER ==================== ==================== */

.header-wrap {
    box-shadow: 0 1px 25px 1px black;
    border-bottom: 1px solid black;
    background-color: white;
    align-items: center;
    position: absolute;
    display: flex;
    height: 150px;
    z-index: 100;
    width: 100%;
    top: 0;
}

/* ==================== ==================== Body ==================== ==================== */

.body-wrap { margin-top: 150px; }

/* ==================== ==================== Media ==================== ==================== */

@media (min-width: 1000px) {
    /* Set Display Width 700px Bigger Than 1440px */
    /* 1440 x 3088 (Galaxy S22U)        */
    /* 1290 x 2796 (iPhone 15 Pro Max ) */
    /* 1179 x 2556 (iPhone 15 )         */

    #root {
        width: 1000px;
    }

    .header-wrap {
        box-shadow: 0 4px 4px -4px black;
        width: 1000px;
        height: 70px;
    }

    .body-wrap {
        margin-top: 70px;
    }

    .main-side {
        display: block;
    }

}