.result_wrap_show {
	flex-direction: column;
	display: flex;
	height: 100%;
	width: 100%;
}

.result_wrap_hide {
	display: none;
}

.chart_wrap_show {
	display: flex;
}

.chart_wrap_hide {
	display: none;
}