.result_wrap_show {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.result_wrap_hide {
	display: none;
}

.result_type_wrap {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	display: flex;
	width: 100%;
}

.caption {
	padding-bottom: 15px;
	text-align: center;
	font-size: 1.3em;
	line-height: 1.5;
	color: #51596a;
}

.type_nm {
    padding-bottom: 10px;
	font-size: 2.3em;
    font-weight: 700;
	color: #51596a;
}

/* #FF6565, #FFFFAB, #93ADDD, #77F586*/
.type_cd {
	padding-bottom: 30px; 
	font-size: 1.7em; 
	font-weight: 600; 
	color: #51596a; 
}

.percent_wrap {
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 0;
}

.percent_bg {
	position: fixed;
	width: 100%;
	z-index: 0;
}

@media(min-width:500px) {
	.percent_bg {
		width: 500px;
	}
}

.percent_div {
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	padding-top: 20%;
	z-index: 5;
}

.percent_div_inner {
	background-color: white;
	flex-direction: column;
	border-radius: 20px;
	display: flex;
	height: 100%;
}

.percent_content_y {
	border-bottom: 1px solid #dddfe2;
	padding: 20px;
}

.percent_content_n {
	padding: 20px;
}

.polygon_D {fill: #FFA3A3;}
.polygon_I {fill: #FFFFAB;}
.polygon_S {fill: #93ADDD;}
.polygon_C {fill: #B4FABC;}