.App {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.App .navbar {
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eeeff1;
    text-align: center;
}

.App .navbar .logo_text {
    position: relative;
    height: 50px;
    width: auto;
    left: 5px;
    top: 5px;
}

.App .navbar .menu_icon {
    margin-left: auto;
    border: 0px;
    float: right;
    height: 60px;
}

