.App {
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
}

.App::-webkit-scrollbar {
    display: none;
}

.pc-left {
    display: none;
    background-color: #f3f3f3;
    width: calc((100vw - 500px)/2);
    height: 100vh;
}

.pc-right {
    display: none;
    background-color: #f3f3f3;
    width: calc((100vw - 500px)/2);
    height: 100vh;
}

.App .navbar {
    display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
}

.App .navbar .logo_text {
    position: relative;
    height: 50px;
    width: auto;
    left: 5px;
    top: 5px;
}

.App .navbar .menu_icon {
    margin-left: auto;
    border: 0px;
    float: right;
    height: 60px;
}

@media (min-width: 500px) {
    .App {
      width: 500px;
      height: 100vh;
    }

    .pc-left {
        display: block;
    }

    .pc-right {
        display: block;
    }
}